<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head></head>
    <body>
        <div class="problem" th:fragment="exercise-fields(name, text, initial, tests, confirm)">
                <input type="text" id="name-editor" th:value="${name}">

                <p><strong>Instructions:</strong></p>
                <textarea id="text-editor" th:text="${text}"></textarea>
                <br>

                <p><strong>Starting Code:</strong></p>
                <textarea id="editor" th:text="${initial}"></textarea>

                <p><strong>Tests:</strong></p>
                <div id="test-editor">
                    <p>Click on a test case to start modifying it.</p>
                    <div id="test-list"></div>
                    <a class="small admin button" onclick="addTestPanel('New Test Case')">ADD TEST CASE</a>
                </div>
                <br>

                <ul class="button-area">
                    <li><button class="admin button" th:text="${confirm}" onclick="save()"></button></li>
                    <li><a href="javascript:history.back()" class="caution button">CANCEL</a></li>
                </ul>

            <form hidden method="post" id="submit-form">
                <input type="hidden" name="name">
                <input type="hidden" name="text">
                <input type="hidden" name="initial">
                <input type="hidden" name="tests">
            </form>

            <div hidden id="accordion-prototype">
                <p class="accordion"><strong>Test: </strong></p>
            </div>

            <div hidden id="panel-prototype">
                <div class="panel">
                    <div class="test-all">
                        Test the entire submission
                    </div>
                    <div hidden class="test-snippet">
                        Test the following snippet: <input type="text">
                    </div>
                    <strong>Provided Inputs:</strong>
                    <div class="input subsection">
                        <i>None</i>
                    </div>
                    <strong>Expected Outputs:</strong>
                    <div class="output subsection">
                        <i>None</i>
                    </div>
                    <a class="small admin button" onclick="toggleType(this)">TOGGLE TEST TYPE</a>
                    <div class="dropdown">
                        <a onclick="toggleDropdown(this)" class="small admin button dropdown-button">ADD INPUT ▼</a>
                        <div class="dropdown-content">
                            <p onclick="addIO(this, 'stdin', 'input')">Simulate console input</p>
                            <p onclick="addIO(this, 'infile', 'input')">Simulate file contents</p>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a onclick="toggleDropdown(this)" class="small admin button dropdown-button">ADD OUTPUT ▼</a>
                        <div class="dropdown-content">
                            <p onclick="addIO(this, 'stdout', 'output')">Check console output</p>
                            <p onclick="addIO(this, 'return', 'output')">Check return value</p>
                            <p onclick="addIO(this, 'error', 'output')">Check raised exception</p>
                            <p onclick="addIO(this, 'outfile', 'output')">Check file contents</p>
                        </div>
                    </div>
                    <a class="small caution button" onclick="dropTest(this)">DROP TEST</a>
                </div>
            </div>
            <div hidden id="io-prototype">
                <div class="stdin">The console input buffer will contain: <input type="text"></div>
                <div class="infile">The file <input type="text" class="short"> will contain: <input type="text"></div>
                <div class="return">The test snippet should return: <input type="text" class="short"></div>
                <div class="error">The test snippet should raise: <input type="text" class="short"></div>
                <div class="stdout">The console output should contain: <input type="text"></div>
                <div class="outfile">The file <input type="text" class="short"> should contain: <input type="text"></div>
                <a class="x button" onclick="dropIO(this)">✖</a>
            </div>
            <script th:src="@{/scripts/edit-tests.js}"></script>
            <script th:inline="javascript">
                var testData = JSON.parse([[${tests}]])
                setup()
            </script>
            <div th:replace="fragments/editor :: editor-js"></div>
        </div>
    </body>
</html>