<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head></head>
    <body>
        <div class="exercise-list" th:fragment="exercise-list">
            <a th:each="ex : ${exercises}"
               th:href="'/chapter/' + ${ex.chapter} + '/exercise/' + ${ex.id}"
               th:class="${(exercise != null && ex.number == exercise.number) ? 'current' : _}">
                <span th:text="${ex.number} + '. ' + ${ex.name}"></span>
                <span th:if="${completion.getOrDefault(ex.id, false)}">
                    &nbsp
                    <img th:src="@{/images/dark-checkmark.png}" height="16" width="16">
                </span>
            </a>
            <a th:href="'/chapter/' + ${chapter} + '/new'"
               id="new-button"
               th:if="${user.role == 'admin'}">
                New Exercise...
            </a>
        </div>
    </body>
</html>