<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head></head>
    <body>
        <div class="problem" th:fragment="exercise-fields(name, text, initial, tests, confirm)">
            <form method="post">
                <input type="text" name="name" id="name-editor" th:value="${name}">
                <p><strong>Instructions:</strong></p>
                <textarea name="text" id="text-editor" th:text="${text}"></textarea>
                <br>
                <p><strong>Starting Code:</strong></p>
                <textarea name="initial" id="editor" th:text="${initial}"></textarea>
                <p><strong>Tests:</strong></p>
                <div id="test-editor">
                    <p th:if="${tests}">
                        Click on a test case to update it.
                    </p>
                    <ul id="test-list"></ul>
                    <a class="admin button">ADD TEST CASE</a>
                </div>
                <input type="hidden" name="tests" value="">
                <br>
                <ul class="button-area">
                    <li><input type="submit" class="admin button" th:value="${confirm}"></li>
                    <li><a href="javascript:history.back()" class="admin button">CANCEL</a></li>
                </ul>
            </form>
            <script th:src="@{/scripts/edit-tests.js}"></script>
            <script th:inline="javascript">
                var testData = JSON.parse([[${tests}]])
                setup()
            </script>
            <div th:replace="fragments/editor :: editor-js"></div>
        </div>
    </body>
</html>