table {
  position: fixed;
  top: 8%;
  width: 25%;
}

td, th {
  text-align: left;
  padding: 8px;
}

th {
  background: seagreen;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr.active:hover {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

tr.inactive a {
  color: gray;
}

tr.active a {
  color: darkgreen;
  font-weight: bold;
  display: block;
}

tr.active a:hover {
  text-decoration: underline;
}

#info-panel {
  position: fixed;
  top: 8%;
  left: 27%;
  right: 15%;
  background: #eee;
  padding: 15px;
  padding-top: 0px;
}

#info-panel h2,
#info-panel strong {
  color: darkgreen;
}

body {
  font-family: sans-serif;
}