.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid white;
    background: seagreen; /*linear-gradient(to left, #76a800, green)*/;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header li {
  float: left;
}

.header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 3px solid white;
}

.header li a:hover {
  background-color: aliceblue;
  color: black;
}

.header li:last-child {
  border-left: 3px solid white;
  border-right: none;
  float: right;
}
