<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="'Category ' + ${category}">Practice</title>
        <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/exercises.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="fragments/header :: header"></div>
        <div th:replace="fragments/exercise-list :: exercise-list"></div>
        <div class="problem" th:if="${exercise != null}">
            <h2 th:text="${exercise.name}"></h2>
            <p><strong>Instructions: </strong><span th:text="${exercise.text}"></span></p>
            <form method="post" th:action="${exercise.number} + '/run'">
                <textarea autofocus id="editor" name="attempt" th:text="${code}"></textarea>
                <br>
                <ul class="button-area">
                    <li>
                        <button class="user button">SAVE AND RUN</button>
                    </li>
                    <li th:if="${user.role == 'admin'}">
                        <a th:href="|${exercise.number}/edit|" class="admin button">EDIT</a>
                    </li>
                    <li th:if="${user.role == 'admin'}">
                        <a th:href="|${exercise.number}/remove|" class="admin button">REMOVE</a>
                    </li>
                </ul>
            </form>
            <br><br><br><br>
            <div th:if="${results}">
                <h2>Results</h2>
                <br>
                <table>
                    <tr th:each="test : ${results}"
                        th:class="${test.pass} ? 'test-pass' : 'test-fail'">
                        <td>
                            <img th:if="${test.pass}"
                                 th:src="@{/images/checkmark.png}">
                            <img th:if="${!test.pass}"
                                 th:src="@{/images/cross.png}">
                        </td>
                        <td th:text="${test.test}"></td>
                    </tr>
                </table>
            </div>
            <div th:if="${error}">
                <h2>Results</h2>
                <p th:text="'An error occurred on line ' + ${error.getErrorLine()} + ', column ' + ${error.getErrorCol()} + ':'"></p>
                <p th:text="${error.getErrorMessage()}" class="error"></p>
            </div>
        </div>
        <div th:replace="fragments/editor :: editor-js"></div>
        <script th:if="${error}" th:inline="javascript">
            var line = [[${error.getErrorLine()}]] - 1
            var column = [[${error.getErrorCol()}]]
            var from = {'line': line, 'ch': 0}
            var to = {'line': line, 'ch': codeMirror.getLine(line).length}
            var options = {'css': 'background: pink', 'clearOnEnter': true}
            codeMirror.setCursor(line, column)
            codeMirror.markText(from, to, options)
        </script>
    </body>
</html>