<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Categories</title>
        <link th:href="@{/css/categories.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="fragments/header :: header"></div>
        <table>
            <tr>
                <th>Category</th>
                <th>Progress</th>
            </tr>
            <tr th:each="c : ${categories}"
                th:with="active = ${c.exerciseCount > 0 ? 'active' : 'inactive'}"
                th:class="${active}">
                <td>
                    <a th:href="${active == 'active' || user.role == 'admin'} ? |category/${c.category.id}/exercise/1| : _"
                       th:text="${c.category.number} + '. ' + ${c.category.name}"
                       th:class="${active}"></a>
                </td>
                <td th:text="${progress.getOrDefault(c.category.number, 0)} + ' / ' + ${c.exerciseCount}"></td>
            </tr>
        </table>
        <div id="info-panel">
            <h2>Welcome to Adept Python!</h2>
            <p>
                <strong>Adept Python</strong> is a repository of short Python exercises to help you practice your
                problem-solving skills. You can run through all the exercises sequentially, or focus only on specific
                categories of problems. Check out the different categories on the left to get started.
            </p>
            <p>
                This site uses a limited version of Python 3.7. Certain functions related to graphics, audio, and the
                underlying operating system's facilities have been disabled. You can practice these on your own system,
                but you'll never need them to solve a problem on this site. Want to read up on Python 3.7? Check out
                the official documentation at <a href="https://docs.python.org/3.7/">docs.python.org</a>.
            </p>
            <p>
                Questions or concerns? Contact Anthony Morrell at <a href="mailto://morrellaj@g.cofc.edu">morrellaj@g.cofc.edu</a>.
            </p>
        </div>
    </body>
</html>