<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Chapters</title>
        <link th:href="@{/css/chapters.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="fragments/header :: header"></div>
        <table>
            <tr>
                <th>Chapter</th>
                <th>Progress</th>
            </tr>
            <tr th:each="c : ${chapters}"
                th:with="active = ${c.exerciseCount > 0 ? 'active' : 'inactive'}"
                th:class="${active}">
                <td>
                    <a th:href="${active == 'active' || user.role == 'admin'} ? @{'chapter/' + ${c.chapter.id} + '/exercise/1'} : _"
                       th:text="${c.chapter.number} + '. ' + ${c.chapter.name}"
                       th:class="${active}"></a>
                </td>
                <td th:text="${progress.getOrDefault(c.chapter.number, 0)} + ' / ' + ${c.exerciseCount}"></td>
            </tr>
        </table>
        <div id="info-panel">
            <h2>Welcome to Adept Python</h2>
            <p>
                <strong>Adept Python</strong> is a repository of short Python exercises to help you practice your
                problem-solving skills.
            </p>
            <p>
                This site uses a version of Python 3.7 with a reduced library. The following modules are available to import:
            </p>
            <ul>
                <li th:each="module : ${modules}">
                    <a th:href="'https://docs.python.org/3.7/library/' + ${module.getKey()} + '.html'"
                        rel="external noreferrer" target="_blank">
                        <code th:text="${module.getKey()}"></code>
                    </a>
                    <span th:text="' - ' + ${module.getValue()}"></span>
                </li>
            </ul>
        </div>
    </body>
</html>