<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="'Category ' + ${category}">Practice</title>
        <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/exercises.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="fragments/header :: header"></div>
        <div th:replace="fragments/exercise-list :: exercise-list"></div>
        <div th:replace="fragments/exercise-fields :: exercise-fields(
            ${'New Exercise'},
            ${''},
            ${''},
            ${'[]'},
            ${'CREATE'})">
        </div>
    </body>
</html>