<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
    </head>
    <body>
        <!--
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        -->

        <div class="login-page">
            <div th:if="${param.error}">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div class="form">
                <form class="login-form" th:action="@{/login}" method="post">
                    <input type="text" placeholder="username" name="username"/>
                    <input type="password" placeholder="password" name="password"/>
                    <button>Login</button>
                    <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
                </form>
            </div>
        </div>
    </body>
</html>
