<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div id="layout">
            <form method="post" id="form">
                <div th:if="${param.error}" class="message">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="message">
                    You have been logged out.
                </div>
                <input type="text" placeholder="username" name="username" autofocus/>
                <input type="password" placeholder="password" name="password"/>
                <button>Login</button>
                <a href="register">Create an Account</a>
            </form>
        </div>
    </body>
</html>
