<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title th:text="'Chapter ' + ${chapter}">Practice</title>
        <link th:href="@{/css/practice.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/header.css}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div th:insert="header :: header"></div>
        <div class="problem-list">
            <a th:each="ex : ${exercises}"
               th:href="@{'/practice/' + ${chapter} + '/' + ${ex.number}}"
               th:text="${ex.number} + '. ' + ${#strings.toUpperCase(ex.name)}"
               th:class="${ex.number == exercise.number ? 'current' : _}"></a>
        </div>
        <div class="problem">
            <h2 th:text="${#strings.toUpperCase(exercise.name)}"></h2>
            <p><strong>Instructions: </strong><span th:text="${exercise.text}"></span></p>
            <textarea autofocus id="editor"></textarea>
        </div>
        <!--CodeMirror-->
        <script th:src="@{/scripts/codemirror.js}"></script>
        <link th:href="@{/css/codemirror.css}" rel="stylesheet">
        <link th:href="@{/css/codemirror-idea.css}" rel="stylesheet">
        <script th:src="@{/scripts/python.js}"></script>
        <script>
            var editor = document.getElementById("editor")
            var codeMirror = CodeMirror.fromTextArea(editor, {
                indentUnit: 4,
                indentWithTabs: true,
                lineNumbers: true,
                theme: "idea"
            })
        </script>
    </body>
</html>